@import './bootstrap.custom.scss';
.navbar{
  padding: 0 1rem;
}
.navbar-light{
  background: #ffffff;
}
.jedi-logo {
    height: 4rem;
    width: auto;
    margin: -0.75rem .75rem;
}
.jedi-header-avatar {
  height: 2rem;
  width: 2rem;
}