@import '../../assets/scss/globle';
.jedi-textarea-toolbar {
    //此特性必需,为了点击工具栏时,编辑区域焦点不消失
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border-bottom: 1px solid #ccc;
    .iconfont {
        margin-right: 5px;
        font-size: 20px;
        color: $meta-color;
        &:hover {
            cursor: pointer;
        }
    }
    .icon-active {
        font-weight: bold;
        color: $theme-color;
    }
    .dropdown-menu {
        min-width: auto;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            margin-bottom: 0;
            font-weight: 500;
            line-height: 1;
        }
    }
    .dropdown-divider {
        margin: 0.1rem 0;
    }
}

.sticky-top {
    top: 5rem;
}

.jedi-textarea-input {
    //read-write-plaintext-only特性会使document.execCommand失效
    // -webkit-user-modify: read-write-plaintext-only;
    min-height: 80vh;
    padding-top: 1rem; // border: 1px solid #ccc;
    &:empty::after {
        color: $meta-color;
        font-size: .8rem;
        content: attr(placeholder);
    }
    &:focus {
        content: none;
        outline-color: white;
    }
}