@import '../assets/scss/globle';
.jedi-overview{
    margin-top: 1rem;
}
.jedi-overview-avatar{
    $avatar-size:1.5rem;
    width: $avatar-size;
    height: $avatar-size;
}

.jedi-article-h {
    margin-top:1.5rem; 
    a{
        color: $black;
    }
    // font-weight:bold;
    // font-size:18px;
}
.jedi-article-p {
    font-size: .88rem;
    // font-size: 14px;
    color: $meta-color;
}
.jedi-article-meta{
    font-size:.8rem;
    color:$meta-color;
}
