@import '../assets/scss/globle';
// .jedi-side {
//       background-color: wheat;
// }
.jedi-overview{
    margin-top: 1rem;
}
.jedi-overview-avatar{
    width: $avatar-size;
    height: $avatar-size;
}
.jedi-overview-label {
    background:inherit;
    border-width:1px;
    border-style:solid;
    border-color: $primary-color ;
    border-radius:4px;
    font-size:.8rem;
    color:$primary-color;
  }
.jedi-article-h {
    color: #000;
    font-weight:bold;
    // font-size:18px;
}
.jedi-article-p {
    font-size: .9rem;
    letter-spacing: 0;
}
.jedi-article-meta{
    font-size:.8rem;
    color:$meta-color;
}
